<div class="bg-background"></div>
<div class="container py-5">
  <div class="row py-5 g-3">

    <div class="col-md-6 first_col">
      <h1 class="text-center mt-3 font-weight-bold">Contact Us</h1>
      <form class="p-4 mt-5">
        <div class="mb-3">
          <label for="nameInput" class="form-label">Enter your Name</label>
          <input type="text" class="form-control" id="nameInput">
        </div>
        <div class="mb-3">
          <label for="emailInput" class="form-label">Email ID</label>
          <input type="text" class="form-control" id="emailInput">
        </div>
        <div class="mb-3">
          <label for="messageTextarea" class="form-label">Enter your message</label>
          <textarea type="text" class="form-control" id="messageTextarea" rows="3"></textarea>
        </div>
        <div class="mb-3">
          <button class="btn btn-primary">Send Now</button>
        </div>
      </form>
    </div>
    <div class="col-md-6 sec_col">
        <h2>We're here to assist you. Feel free to reach out with any questions or inquiries, and we'll get back to you as soon as possible.</h2>
      <!-- <img  [src]="'assets/img_1.jpg'" class="img-fluid"> -->
  </div>
  
  <div class="row-last">
    <div class="row row-cols-1 row-cols-md-3 p-2  text-white">
      <div class="col">
        <h4 class =font-weight-bold>CALL US</h4>
        <p>(+94)77712345<br>(+94)11 121223</p>
      </div>
      <div class="col">
        <h4>LOCATION</h4>
        <p>Colombo,<br>Sri Lanka</p>
      </div>
      <div class="col">
        <h4>Email</h4>
        <p>diamondcosmetics@gmail.com</p>
      </div>
    </div>
  </div>
</div>
